.home {
  min-height:100vh;
  width:100%;
  min-height:100vh;
  background-color: black;
  color:white;
  display:flex;
  justify-content: center;
}
.home >h1 {
  padding-top:200px;
  background-color: black;
  color:red;
  font-family: 'Rhodium Libre', serif;
}
